# options = [sepolia, mainnet, polygon, bsc, base, arb, amoy]
NETWORK=""

ACCOUNT_PRIVATE_KEY=
OPTIMIZER_RUNS=200
OPTIMIZER_FLAG=true

# Mainnet network
MAINNET_RPC_URL=
MAINNET_API_KEY=
MAINNET_ACCOUNT_PRIVATE_KEY=
MAINNET_OPTIMIZER_RUNS=200
MAINNET_OPTIMIZER_FLAG=true

# Polygon network
POLYGON_RPC_URL=
POLYGON_API_KEY=
POLYGON_ACCOUNT_PRIVATE_KEY=
POLYGON_OPTIMIZER_RUNS=200
POLYGON_OPTIMIZER_FLAG=true

# BSC network
BSC_RPC_URL=
BSC_API_KEY=
BSC_ACCOUNT_PRIVATE_KEY=
BSC_OPTIMIZER_RUNS=200
BSC_OPTIMIZER_FLAG=true

# Base network
BASE_RPC_URL=
BASE_API_KEY=
BASE_ACCOUNT_PRIVATE_KEY=
BASE_OPTIMIZER_RUNS=200
BASE_OPTIMIZER_FLAG=true

# Arbitrum network
ARB_RPC_URL=
ARB_API_KEY=
ARB_ACCOUNT_PRIVATE_KEY=
ARB_OPTIMIZER_RUNS=200
ARB_OPTIMIZER_FLAG=true

# Sepolia network
SEPOLIA_RPC_URL=
SEPOLIA_API_KEY=
SEPOLIA_ACCOUNT_PRIVATE_KEY=
SEPOLIA_OPTIMIZER_RUNS=200
SEPOLIA_OPTIMIZER_FLAG=true

# AMOY network
AMOY_RPC_URL=
AMOY_API_KEY=
AMOY_ACCOUNT_PRIVATE_KEY=
AMOY_OPTIMIZER_RUNS=200
AMOY_OPTIMIZER_FLAG=true